// WEBSITE
body {
  margin: 0;
  box-sizing: border-box;
}
.appDiv {
  height: 100vh;
}

// BODY DIV
.bodyDiv {
  background-color: $backgroundColor;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
