// WEBSITE
body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}
html {
  width: 100%;
}

// BODY DIV
.bodyDiv {
  height: calc(100vh - 150px);
  padding-top: 50px;
  background-color: $lightRed;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  grid-template-columns: 80%;
  grid-template-rows: 5% 60% 20%;
  gap: 30px;
}

.preuzmiButton {
  cursor: pointer;
  width: 200px;
  height: 80px;
  border: none;
  outline: none;
  background-color: $primaryColor;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.301);
  &:hover {
    transform: scale(1.01);
  }
  &:active {
    transform: scale(0.99);
    box-shadow: none;
  }
}

@media (max-width: 600px) {
  .bodyDiv {
    height: auto;
    padding-top: 120px;
  }
  .preuzmiButton {
    width: 125px;
    height: 50px;
    font-size: 12.5px;
  }
}
