// WEBSITE
body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

// BODY DIV
.bodyDiv {
  background-color: $backgroundColor;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
