// CARD LIST
.cardListDiv {
  width: 95%;
  height: 80%;
  max-width: 1500px;
  position: relative;
  .gradientLeft {
    height: 600px;
    width: 60px;
    background-image: linear-gradient(to right, $backgroundColor, transparent);
    position: absolute;
    pointer-events: none;
    z-index: 100;
  }
  .gradientRight {
    @extend .gradientLeft;
    right: 0;
    top: 0;
    background-image: linear-gradient(to left, $backgroundColor, transparent);
  }
}

// CARD
.cardDiv {
  height: 500px;
  width: 400px;
  background-color: aquamarine;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 90%;
  justify-content: center;
  .cardTitlePictureDiv {
    background-color: beige;
    margin-top: 20px;
    width: 100%;
    height: 100px;
  }
}

@media screen and (max-width: 500px) {
  .cardDiv {
    width: 350px;
  }
}
