// CARD LIST
.cardListDiv {
  width: 80%;
  height: 80%;
  max-width: 1200px;
  margin-top: 200px;
  position: relative;
}

// GRADIENT
// .gradientLeft {
//   height: 600px;
//   width: 60px;
//   background-image: linear-gradient(to right, $backgroundColor, transparent);
//   background-color: $backgroundColor;
//   position: absolute;
//   pointer-events: none;
//   z-index: 100;
// }
// .gradientRight {
//   height: 600px;
//   width: 60px;
//   background-image: linear-gradient(to right, $backgroundColor, transparent);
//   position: absolute;
//   pointer-events: none;
//   z-index: 100;
//   right: -10px;
//   top: 0;
// }
