h1 {
  margin: 0;
  font-size: 130px;
  font-weight: 500;
  display: flex;
}

h2 {
  margin: 0;
  font: normal normal 400 40px "Montserrat", sans-serif;
}

h3 {
  margin: 0;
  color: $darkRed;
  font: normal normal 500 25px "Montserrat", sans-serif;
}

h4 {
  margin: 0;
  color: $darkRed;
  font: normal normal 400 15px "Montserrat", sans-serif;
}

.logo {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  & > .nastavak {
    color: $primaryColor;
  }
}

p {
  color: $lightGrey;
  font-family: "Montserrat";
  font-size: 15px;
  padding-bottom: 20px;
}

.subheading {
  font: normal normal 200 20px "Montserrat", sans-serif;
  color: $lightGrey;
}

.navFont {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: $grey;
}

.errorFont {
  font-size: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: $lightGrey;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 100px;
  }
  .subheading {
    font-size: 17px;
  }
  h2 {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 60px;
  }
  .subheading {
    font-size: 12px;
  }
  h2 {
    font-size: 20px;
  }
}
