// Red
$primaryColor: rgb(199, 0, 0);
$darkRed: rgb(102, 21, 21);
$mediumRed: rgb(199, 76, 76);
$lightRed: rgb(191, 91, 91);
$greyRed: rgb(214, 214, 214);

// Green
$greenColor: rgb(47, 194, 83);
$greenColor: $primaryColor;
$darkGreen: rgb(25, 109, 46);

// Grey
$grey: rgb(104, 104, 104);
$lightGrey: rgb(223, 221, 221);
